/*this is the style sheet for the adminDashboard. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #003e3e;
}
.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-image: url("index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#searchBar {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

select {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #A62B1F;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A62B1F;
}

.adminBtn {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    width: 110px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
}

/* Admin button hover */
.adminBtn:hover {
    color: #A62B1F;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal[hidden] {
    display: none;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.modal-content input:focus,
.modal-content select:focus {
    outline: none;
    border-color: #A62B1F;
}
